

        
  {% extends 'base.html' %}
  {% block myContent %}
  <h1>Hii i am supa</h1>
  <table class="table">
      <tr>
          <td>student name</td>
          <td><input type="text" class="form-control"></td>
     </tr>
      <tr>
          <td>Roll no</td>
         <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
          <td>admission no</td>
          <td> <input type="text" class="form-control"> </td>
      </tr>
      
      <tr>
         <td><Button class="btn btn-success">Submit</Button></td>
      </tr>
  </table>
  {% endblock %}
    
